.mat-table {
    overflow: auto;
    max-height: 500px;
}

// .example-container {
//     display: flex;
//     flex-direction: column;
//     max-height: 800px;
//     min-width: 300px;
// }

.status-action{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}