<h2 mat-dialog-title>{{header}}</h2>

<mat-dialog-content class="mat-typography">
  <h4>{{caption}}</h4>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="submitConfirmation()">{{buttonCancel}}</button>
  <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>{{buttonOk}}</button>
</mat-dialog-actions>