<ngx-spinner bdColor="rgba(222,222,222,0.5)" size="medium" color="rgba(26,25,255,0.5)" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
</ngx-spinner>


<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" dir="rtl" style="margin-bottom: 30px;">
  <div fxFlex="70" fxLayoutAlign="start center" style="font-size: 20px;">
    <mat-icon>format_list_bulleted</mat-icon>
    لیست شرکت های تائید نشده
  </div>
  
  <div fxFlex="30" fxLayoutAlign="end">
    <button mat-raised-button color="accent" (click)="showFilterDialog()">
      <mat-icon>filter_alt</mat-icon>
      فیلتر
    </button>
  </div>
</div>



<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataItems">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ردیف</th>
      <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
      <td mat-cell *matCellDef="let element,let idx = index"> {{ state.pageNumber *
        state.pageSize + idx + 1 }} </td>
    </ng-container>
    
    <ng-container matColumnDef="persianName">
      <th mat-header-cell *matHeaderCellDef>نام فارسی</th>
      <td mat-cell *matCellDef="let element">{{element.persianName}}</td>
    </ng-container>

    <ng-container matColumnDef="englishName">
      <th mat-header-cell *matHeaderCellDef>نام انگلیسی</th>
      <td mat-cell *matCellDef="let element">{{element.englishName}}</td>
    </ng-container>

    <ng-container matColumnDef="orderNo">
      <th mat-header-cell *matHeaderCellDef>شناسه شرکت</th>
      <td mat-cell *matCellDef="let element">{{element.orderNo}}</td>
    </ng-container>
    
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>تاریخ عضویت</th>
      <td mat-cell *matCellDef="let element">{{element.createdAt |shamsiDateTime}}</td>
    </ng-container>

    <ng-container matColumnDef="userFullName">
      <th mat-header-cell *matHeaderCellDef>نام و نام خانوادگی</th>
      <td mat-cell *matCellDef="let element">{{element.userFullName}}</td>
    </ng-container>

    <ng-container matColumnDef="cellPhone">
      <th mat-header-cell *matHeaderCellDef>شماره همراه</th>
      <td mat-cell *matCellDef="let element">{{element.cellPhone}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>ایمیل</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>



    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        هیچ رکوردی جهت نمایش وجود ندارد.
      </td>
    </tr>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="navigateToNotConfirmedView(element)">
          <mat-icon>read_more</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[15, 25, 50]" (page)="changePaging($event)" showFirstLastButtons></mat-paginator>
</div>