<div fxLayout="row wrap" class="item-company-navigation-layout" fxLayoutAlign="start">
    <a fxFlex.xl="8" fxFlex.lg="12" fxFlex.md="13" fxFlex.sm="30" fxFlex.xs="40" [routerLinkActive]="['mat-tab-label-active']" [routerLink]="'view'">مشاهده آگهی</a>
    <a fxFlex.xl="8" fxFlex.lg="12" fxFlex.md="13" fxFlex.sm="30" fxFlex.xs="40" [routerLinkActive]="['mat-tab-label-active']" [routerLink]="'actioin'">بروزرسانی</a>
    <a fxFlex.xl="8" fxFlex.lg="12" fxFlex.md="13" fxFlex.sm="30" fxFlex.xs="40" [routerLinkActive]="['mat-tab-label-active']" [routerLink]="'history'">تاریحچه</a>
</div>
<router-outlet></router-outlet>