<div class="container login-container" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
    <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <mat-card-title>ورود به بخش مدیریتی Remote Jobs</mat-card-title>
            <mat-card-subtitle>مرکز سازماندهی مشاغل دور کار ایران</mat-card-subtitle>
            <mat-card-content>

                <mat-form-field class="full-width">
                    <input id="emailInput" matInput placeholder="ایمیل" formControlName="email" autocomplete="email"
                        type="email">
                    <mat-error id="invalidEmailError" *ngIf="loginForm.controls['email'].hasError('email')">
                        لطفا ایمیل را به صورت صحیح وارد نمایید.
                    </mat-error>
                    <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
                        وارد کردن ایمیل ضروری می باشد
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input id="passwordInput" matInput placeholder="کلمه عبور" formControlName="password" type="password"
                        autocomplete="current-password">
                    <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['email'].hasError('required')">
                        وارد کردن کلمه عبور ضروری می باشد.
                    </mat-error>
                </mat-form-field>

            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary" [disabled]="loginForm.invalid || loading"
                    (click)="login()">ورود</button>
                <button mat-button id="resetPassword" (click)="resetPassword()" type="button">فراموشی رمز عبور</button>
            </mat-card-actions>

        </mat-card>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
</div>