<table mat-table [dataSource]="items">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ردیف</th>
        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
        <td mat-cell *matCellDef="let element,let idx = index">{{idx+1}}</td>
    </ng-container>

    <ng-container matColumnDef="categoryMode">
        <th mat-header-cell *matHeaderCellDef> وضعیت زمانی تغیر </th>
        <td mat-cell *matCellDef="let history"> {{history.categoryMode |historyCategory}} </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> تاریخ ایجاد </th>
        <td mat-cell *matCellDef="let history"> {{history.creationDate |shamsiDateTime}} </td>
    </ng-container>

    <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> پیام </th>
        <td mat-cell *matCellDef="let history"> {{history.message}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> وضعیت </th>
        <td mat-cell *matCellDef="let history"> {{history.status |proclamationHistoryStatus}} </td>
    </ng-container>


    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width: 100px;"></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="showHostiryItem(element)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>


    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>