<h1 mat-dialog-title style="margin-bottom: 25px !important;">جستجو در شرکت ها</h1>

<form #form="ngForm" (submit)="submitFilterForm(form,$event)">
    <div mat-dialog-content>

        <mat-form-field class="full-width">
            <input matInput placeholder="نام فارسی" type="text" #persianName="ngModel" [(ngModel)]="model.persianName"
                name="persianName" autocomplete="off">
        </mat-form-field>


        <mat-form-field class="full-width">
            <input matInput placeholder="نام انگلیسی" type="text" #englishName="ngModel" [(ngModel)]="model.englishName"
                name="englishName" autocomplete="off">
        </mat-form-field>


        <mat-form-field class="full-width">
            <input matInput placeholder="شناسه شرکت" type="tel" #orderNo="ngModel" [(ngModel)]="model.orderNo"
                name="orderNo" autocomplete="off">
        </mat-form-field>


        <ng-container *ngIf="section == 'active'">
            <mat-form-field class="full-width">
                <mat-label>انتخاب وضعیت</mat-label>
                <mat-select [(ngModel)]="model.status" name="status" #status="ngModel">
                    <mat-option [value]="item.value" *ngFor="let item of statusItems">{{item.text}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>



        <ng-container *ngIf="section == 'edited'">
            <mat-form-field class="full-width">
                <input matInput placeholder="نام و نام خانوادگی" type="text" #fullName="ngModel"
                    [(ngModel)]="model.fullName" name="fullName" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="شماره همراه" type="tel" #cellPhone="ngModel" [(ngModel)]="model.cellPhone"
                    name="cellPhone" autocomplete="off">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="ایمیل" type="text" #email="ngModel" [(ngModel)]="model.email" name="email"
                    autocomplete="off">
            </mat-form-field>
        </ng-container>
        

    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit">
            جستجو
        </button>
        <button mat-raised-button color="primary" type="button" (click)="clearFilters()">
            خالی کردن فیلتر ها
        </button>
        <button mat-raised-button color="accent" type="button" (click)="onCloseDialog()">
            انصراف
        </button>
    </div>
</form>