<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches" dir="rtl">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        مرکز سازماندهی مشاغل دور کار - Remote Jobs
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
      <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item>
        <span>You have new tasks</span>
      </a>
      <a mat-menu-item>
        <span>You have a new message</span>
      </a>

    </mat-menu>



    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        {{userName}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>حساب کاربری</span>
      </a>

      <a mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>خروج از سیستم</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            dashboard
          </mat-icon>
          <p mat-line> داشبورد </p>
        </a>

        <h3 mat-subheader>مدیریت کاربران</h3>

        <a mat-list-item [routerLink]="['/employers/suspend']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            business
          </mat-icon>
          <p mat-line> شرکت های تائید نشده </p>
        </a>


        <a mat-list-item [routerLink]="['/employers/active']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            business
          </mat-icon>
          <p mat-line> شرکت های فعال </p>
        </a>




        <a mat-list-item [routerLink]="['/employers/edited']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            business
          </mat-icon>
          <p mat-line> شرکت های ویرایش شده </p>
        </a>



        <a mat-list-item [routerLink]="['/job-seekers']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            person_search
          </mat-icon>
          <p mat-line> کارجو ها </p>
        </a>

        <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            people
          </mat-icon>
          <p mat-line> کاربران پنل مدیریتی </p>
        </a>

        <mat-divider></mat-divider>

        <h3 mat-subheader>مدیریت آگهی ها</h3>

        <a mat-list-item [routerLink]="['/proclamations/list']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            ads_click
          </mat-icon>
          <p mat-line> همه آگهی ها </p>
        </a>

        <a mat-list-item [routerLink]="['/proclamations/edited-list']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            ads_click
          </mat-icon>
          <p mat-line> آگهی های ویرایش شده </p>
        </a>

        <a mat-list-item [routerLink]="['/proclamations/not-confirmed-list']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            ads_click
          </mat-icon>
          <p mat-line> آگهی های تایید نشده </p>
        </a>



        <mat-divider></mat-divider>

        <h3 mat-subheader>پارامتر های اصلی</h3>


        <a mat-list-item [routerLink]="['/auth/login']">
          <mat-icon mat-list-icon>fact_check</mat-icon>
          <p mat-line> لیست فاکتور ها </p>
        </a>

        <a mat-list-item [routerLink]="['/icons']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            text_decrease
          </mat-icon>
          <p mat-line> لیست تیکت ها </p>
        </a>

        <a mat-list-item [routerLink]="['/icons']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            temple_buddhist
          </mat-icon>
          <p mat-line> مدیریت قالب ها </p>
        </a>

        <a mat-list-item [routerLink]="['/icons']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            message
          </mat-icon>
          <p mat-line> پیام های دریافتی</p>
        </a>


        <mat-divider></mat-divider>

        <h3 mat-subheader>مدیریت گزارشات</h3>
        <a mat-list-item [routerLink]="['/icons']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            business
          </mat-icon>
          <p mat-line> گزارش شرکت ها</p>
        </a>


        <a mat-list-item [routerLink]="['/icons']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            person_search
          </mat-icon>
          <p mat-line> گزارشات کارجو ها</p>
        </a>

        <a mat-list-item [routerLink]="['/icons']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            ads_click
          </mat-icon>
          <p mat-line> گزارشات آگهی ها</p>
        </a>



        <mat-divider></mat-divider>

        <h3 mat-subheader>پارامتر های پایه ای</h3>



        <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            local_activity
          </mat-icon>
          <p mat-line> گروه های فعالیت </p>
        </a>
        <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            category
          </mat-icon>
          <p mat-line> گروه های شغلی و مهارت ها</p>
        </a>




        <mat-divider></mat-divider>

        <h3 mat-subheader>سایر</h3>

        <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            settings_applications
          </mat-icon>
          <p mat-line>تنظیمات</p>
        </a>

        <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            attach_email
          </mat-icon>
          <p mat-line> بررسی SMTP</p>
        </a>


        <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            checklist_rtl
          </mat-icon>
          <p mat-line> مدیریت آزمون ها</p>
        </a>

        <a mat-list-item [routerLink]="['/typography']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            text_snippet
          </mat-icon>
          <p mat-line> مدیریت بلاگ</p>
        </a>


      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <!-- <mat-progress-bar color="accent" mode="indeterminate">
          </mat-progress-bar> -->
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>



      <div class="container">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>