<ngx-spinner bdColor="rgba(222,222,222,0.5)" size="medium" color="rgba(26,25,255,0.5)" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
</ngx-spinner>


<div class="mat-elevation-z8 page-container">
    <div fxLayout="column wrap" style="margin-top: 40px; margin-bottom: 40px;" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutGap="5px">
            <span>عنوان:</span>
            <span class="text-muted rj-font-size-13">{{model.caption}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>گروه</span>
            <span class="text-muted rj-font-size-13">{{model.categoryCaption}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>تاریخ ایجاد آگهی:</span>
            <span class="text-muted rj-font-size-13">{{model.creationDate |shamsiDateTime}}</span>
        </div>


        <div fxLayout="row" fxLayoutGap="5px">
            <span>تاریخ انقضا:</span>
            <span class="text-muted rj-font-size-13">{{model.expireDate |shamsiDateTime}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>تاریخ آخرین بروزرسانی:</span>
            <span class="text-muted rj-font-size-13">{{model.updatedDate |shamsiDateTime}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>نوع همکاری:</span>
            <span class="text-muted rj-font-size-13">{{model.collabration | collbrationType}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>جنسیت:</span>
            <span class="text-muted rj-font-size-13">{{model.gender |gender}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>تحصیلات:</span>
            <span class="text-muted rj-font-size-13">{{model.minimumEducation | educationType}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>حقوق:</span>
            <span class="text-muted rj-font-size-13">{{model.minimumSallery |sallery}}</span>
        </div>

        <div fxLayout="column" fxLayoutGap="5px">
            <span>شرح وظایف:</span>
            <span class="text-muted rj-font-size-13" [innerHTML]="model.responsibilities">
            </span>
        </div>

        <div fxLayout="column" fxLayoutGap="5px">
            <span>الزامات:</span>
            <span class="text-muted rj-font-size-13" [innerHTML]="model.requirements">
            </span>
        </div>


        <div fxLayout="column" fxLayoutGap="5px">
            <span>مزای شغلی:</span>
            <span class="text-muted rj-font-size-13" [innerHTML]="model.benefits">
            </span>
        </div>


    </div>

    <div fxLayout="row wrap" style="margin-top: 40px;" fxLayoutAlign="end" fxLayoutGap="10px" (click)="openProclamationConfirmation()">
        <button mat-raised-button color="primary">
            تائید / رد کردن آگهی
        </button>
    </div>

</div>