<h1 mat-dialog-title style="margin-bottom: 25px !important;">تغیرات اعمال شده</h1>

<div mat-dialog-content>
    <div fxLayout="row wrap" style="margin-top: 40px; margin-bottom: 40px;" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutGap="5px" class="item">
            <span>عنوان:</span>
            <span class="text-muted rj-font-size-13">{{model.caption}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px" class="item">
            <span>گروه</span>
            <span class="text-muted rj-font-size-13">{{model.categoryCaption}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px" class="item">
            <span>نوع همکاری:</span>
            <span class="text-muted rj-font-size-13">{{model.collabration | collbrationType}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px" class="item">
            <span>جنسیت:</span>
            <span class="text-muted rj-font-size-13">{{model.gender |gender}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px" class="item">
            <span>تحصیلات:</span>
            <span class="text-muted rj-font-size-13">{{model.minimumEducation | educationType}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px" class="item">
            <span>حقوق:</span>
            <span class="text-muted rj-font-size-13">{{model.minimumSallery |sallery}}</span>
        </div>



    </div>


    <div fxLayout="column wrap" style="margin-top: 40px; margin-bottom: 40px;" fxLayoutGap="15px">
        <div fxLayout="column" fxLayoutGap="5px">
            <span>شرح وظایف:</span>
            <span class="text-muted rj-font-size-13" [innerHTML]="model.responsibilities">
            </span>
        </div>

        <div fxLayout="column" fxLayoutGap="5px">
            <span>الزامات:</span>
            <span class="text-muted rj-font-size-13" [innerHTML]="model.requirements">
            </span>
        </div>


        <div fxLayout="column" fxLayoutGap="5px">
            <span>مزای شغلی:</span>
            <span class="text-muted rj-font-size-13" [innerHTML]="model.benefits">
            </span>
        </div>
    </div>






</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" type="button" (click)="onCloseDialog()">
        انصراف
    </button>
</div>