<ngx-spinner bdColor="rgba(222,222,222,0.5)" size="medium" color="rgba(26,25,255,0.5)" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
</ngx-spinner>


<h1 mat-dialog-title style="margin-bottom: 25px !important;">عضو جدید</h1>

<form #form="ngForm" (submit)="submitFilterForm(form,$event)">
  <div mat-dialog-content>

    <mat-form-field class="full-width">
      <input matInput required placeholder="نام" type="text" #firstName="ngModel" [(ngModel)]="model.firstName" name="firstName"
        autocomplete="off">

      <mat-error [hidden]="firstName.valid || (firstName.pristine && !form.submitted)">
        وارد کردن نام ضروری می باشد.
      </mat-error>

    </mat-form-field>


    <mat-form-field class="full-width">
      <input matInput required placeholder="نام خانوادگی" type="text" #lastName="ngModel" [(ngModel)]="model.lastName"
        name="lastName" autocomplete="off">

      <mat-error [hidden]="lastName.valid || (lastName.pristine && !form.submitted)">
        وارد کردن نام خانوادگی ضروری می باشد.
      </mat-error>
    </mat-form-field>


    <mat-form-field class="full-width">
      <input matInput required placeholder="ایمیل" type="text" #email="ngModel" [(ngModel)]="model.email" name="email"
        autocomplete="off">


      <mat-error [hidden]="email.valid || (email.pristine && !form.submitted)">
        وارد کردن نام ایمیل ضروری می باشد.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>انتخاب نقش</mat-label>
      <mat-select required [(ngModel)]="model.role" name="role" #role="ngModel">
        <mat-option [value]="item.value" *ngFor="let item of roleItems">{{item.text}}</mat-option>
      </mat-select>

      <mat-error [hidden]="role.valid || (role.pristine && !form.submitted)">
        انتخاب نقش ضروری می باشد.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput required placeholder="شماره همراه" type="tel" #cellPhone="ngModel" [(ngModel)]="model.cellPhone"
        name="cellPhone" autocomplete="off">

      <mat-error [hidden]="cellPhone.valid || (cellPhone.pristine && !form.submitted)">
        وارد کردن شماره همراه ضروری می باشد.
      </mat-error>
    </mat-form-field>


    <mat-form-field class="full-width">
      <input matInput required placeholder="کلمه عبور" type="tel" #password="ngModel" [(ngModel)]="model.password"
        name="password" autocomplete="off">

      <mat-error [hidden]="password.valid || (password.pristine && !form.submitted)">
        وارد کردن کلمه عبور ضروری می باشد.
      </mat-error>
    </mat-form-field>


  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">
      ایجاد عضو
    </button>
    <button mat-raised-button color="accent" type="button" (click)="onCloseDialog()">
      انصراف
    </button>
  </div>
</form>