<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches" dir="rtl">

    <!-- Top navbar -->
    <mat-toolbar class="navbar" color="primary" >

      <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
        <h1>
          مرکز سازماندهی مشاغل دور کار  - Remote Jobs
        </h1>
      </a>
  
      <span class="navbar-spacer"></span>
    </mat-toolbar>
  

    <router-outlet></router-outlet>
    
  </div>
