<ngx-spinner bdColor="rgba(222,222,222,0.5)" size="medium" color="rgba(26,25,255,0.5)" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
</ngx-spinner>


<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" dir="rtl" style="margin-bottom: 30px;">
    <div fxFlex="100" fxLayoutAlign="start center" style="font-size: 20px;">
        <mat-icon>info_outline</mat-icon>
        مشخصات شرکت
    </div>
</div>
<!--  -->

<div class="mat-elevation-z8 page-container">
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutGap="7px">
            <img src="https://i.stack.imgur.com/5oFTO.jpg?s=256&amp;g=1" style="width: 80px; border-radius: 50%; " />
            <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
                <span>{{model.persianName}}</span>
                <span>{{model.englishName}}</span>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">
            <div fxLayout="row" fxLayoutGap="5px">
                <span>شناسه شرکت:</span>
                <span class="text-muted rj-font-size-13">{{model.orderNo}}</span>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="end">
                <span>شناسه ملی شرکت:</span>
                <span class="text-muted rj-font-size-13">{{model.companyNationalId}}</span>
            </div>
        </div>
    </div>



    <div fxLayout="column wrap" style="margin-top: 40px;" fxLayoutGap="15px">
        <div fxLayout="row" fxLayoutGap="5px">
            <span>نام و نام خانوادگی:</span>
            <span class="text-muted rj-font-size-13">{{model.userFullName}}</span>
        </div>
        
        <div fxLayout="row" fxLayoutGap="5px">
            <span>تاریخ عضویت:</span>
            <span class="text-muted rj-font-size-13">{{model.createdAt |shamsiDateTime}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>شماره موبایل:</span>
            <span class="text-muted rj-font-size-13">{{model.cellPhone}}</span>
        </div>


        <div fxLayout="row" fxLayoutGap="5px">
            <span>شماره تماس شرکت:</span>
            <span class="text-muted rj-font-size-13">{{model.daytimeTell}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>تعداد کارکنان:</span>
            <span class="text-muted rj-font-size-13">{{model.numberOfStaff | numberOfStaff}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>حوزه فعالیت:</span>
            <span class="text-muted rj-font-size-13">{{model.categories|activity:activityItems}}</span>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
            <span>وب سایت:</span>
            <span class="text-muted rj-font-size-13">{{model.website}}</span>
        </div>

        <div fxLayout="column" fxLayoutGap="5px">
            <span>درباره شرکت:</span>
            <span class="text-muted rj-font-size-13">
                {{model.description}}
            </span>
        </div>


    </div>

    <div fxLayout="row wrap" style="margin-top: 40px;" fxLayoutAlign="end" fxLayoutGap="10px">
        <button mat-raised-button color="primary" (click)="openConfirmDialog()">
            تائید مشخصات ثبت شده
        </button>
    </div>
</div>