<ngx-spinner bdColor="rgba(222,222,222,0.5)" size="medium" color="rgba(26,25,255,0.5)" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
</ngx-spinner>


<div class="mat-elevation-z8 page-container">
    <div class="container" fxLayout="row" fxLayoutAlign="center center" dir="rtl">
        <form #form="ngForm" (submit)="submit(form,$event)" fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="90%">
            <mat-card>
                <mat-card-subtitle>ویرایش نام/شناسه ملی شرکت</mat-card-subtitle>
                <mat-card-content>

                    <mat-form-field class="full-width">
                        <input matInput placeholder="نام (فارسی)" required type="text" #persianName="ngModel"
                            [(ngModel)]="model.persianName" name="persianName" autocomplete="current-password">
                        <mat-error [hidden]="persianName.valid || (persianName.pristine && !form.submitted)">
                            وارد کردن نام (فارسی) ضروری می باشد.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input matInput placeholder="نام (انگلیسی)" required type="text" #englishName="ngModel"
                            [(ngModel)]="model.englishName" name="englishName" autocomplete="current-password">
                        <mat-error [hidden]="englishName.valid || (englishName.pristine && !form.submitted)">
                            وارد کردن نام (انگلیسی) ضروری می باشد.
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="full-width">
                        <input matInput placeholder="شناسه ملی" required type="text" #companyNationalId="ngModel"
                            [(ngModel)]="model.companyNationalId" name="companyNationalId"
                            autocomplete="current-password">
                        <mat-error
                            [hidden]="companyNationalId.valid || (companyNationalId.pristine && !form.submitted)">
                            وارد کردن شناسه ملی شرکت ضروری می باشد
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input matInput placeholder="شماره تماس" required type="text" #daytimeTell="ngModel"
                            [(ngModel)]="model.daytimeTell" name="daytimeTell" autocomplete="current-password">
                        <mat-error [hidden]="daytimeTell.valid || (daytimeTell.pristine && !form.submitted)">
                            وارد کردن شماره تماس شرکت ضروری می باشد
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>انتخاب تعداد کارکنان</mat-label>
                        <mat-select required [(ngModel)]="model.numberOfStaff" name="numberOfStaff"
                            #numberOfStaff="ngModel">
                            <mat-option [value]="item.value" *ngFor="let item of numberOfStaffItems">{{item.text}}</mat-option>
        
                        </mat-select>

                        <mat-error [hidden]="numberOfStaff.valid || (numberOfStaff.pristine && !form.submitted)">
                            انتخاب تعداد کارکنان ضروری می باشد.
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="full-width">
                        <mat-label>انتخاب حوزه فعالیت</mat-label>
                        <mat-select required [(ngModel)]="model.categories" name="categories" #categories="ngModel"
                            multiple>
                            <mat-option [value]="activity.value" *ngFor="let activity of activityItems">
                                {{activity.text}}</mat-option>
                        </mat-select>

                        <mat-error [hidden]="categories.valid || (categories.pristine && !form.submitted)">
                            انتخاب حوزه فعالیت ضروری می باشد.
                        </mat-error>
                    </mat-form-field>




                    <mat-form-field class="full-width">
                        <input matInput placeholder="وب سایت" type="text" #website="ngModel" [(ngModel)]="model.website"
                            name="website" autocomplete="current-password">
                    </mat-form-field>



                    <mat-form-field class="full-width">
                        <textarea rows="8" matInput required placeholder="درباره شرکت" #description="ngModel"
                            [(ngModel)]="model.description" name="description" autocomplete="current-password">
                            </textarea>

                        <mat-error [hidden]="description.valid || (description.pristine && !form.submitted)">
                            وارد کردن مختصری درباره شرکت ضروری می باشد
                        </mat-error>
                    </mat-form-field>

                </mat-card-content>

                <mat-card-actions class="login-actions">
                    <button mat-raised-button id="login" color="primary">ذخیره تغیرات اعمال شده</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>