<mat-dialog-content class="mat-typography">
    <h2>{{'پیام ها'}}</h2>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let message of messages">{{message}}</li>
      </ul>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="submitConfirmation()">بستن</button>
</mat-dialog-actions>