<h1 mat-dialog-title style="margin-bottom: 25px !important;">تعین وضعیت آگهی</h1>

<form #form="ngForm" (submit)="submitForm(form,$event)">
    <div mat-dialog-content>

        <mat-form-field class="full-width">
            <mat-label>انتخاب وضعیت</mat-label>
            <mat-select required [(ngModel)]="model.status" name="status" #status="ngModel">
                <mat-option [value]="item.value" *ngFor="let item of statusItems">{{item.text}}</mat-option>
            </mat-select>


            <mat-error [hidden]="message.valid || (message.pristine && !form.submitted)">
                انتخاب وضعیت ضروری می باشد.
            </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
            <textarea matInput placeholder="توضیحات را وارد نمائید" type="text" #message="ngModel"
                [(ngModel)]="model.message" name="message" rows="5"></textarea>
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit">
            تائید
        </button>
        <button mat-raised-button color="accent" type="button" (click)="onCloseDialog()">
            انصراف
        </button>
    </div>
</form>