<ngx-spinner bdColor="rgba(222,222,222,0.5)" size="medium" color="rgba(26,25,255,0.5)" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
</ngx-spinner>


<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" dir="rtl" style="margin-bottom: 30px;">
    <div fxFlex="70" fxLayoutAlign="start center" style="font-size: 20px;">
        <mat-icon>format_list_bulleted</mat-icon>
        لیست آگهی های تائید نشده
    </div>

    <div fxFlex="30" fxLayoutAlign="end">
        <button mat-raised-button color="accent">
            <mat-icon>filter_alt</mat-icon>
            فیلتر
        </button>
    </div>
</div>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataItems">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ردیف</th>
            <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
            <td mat-cell *matCellDef="let element,let idx = index"> {{ state.pageNumber *
                state.pageSize + idx + 1 }} </td>
        </ng-container>

        <ng-container matColumnDef="caption">
            <th mat-header-cell *matHeaderCellDef>عنوان</th>
            <td mat-cell *matCellDef="let element">{{element.caption}}</td>
        </ng-container>

        <ng-container matColumnDef="categoryCaption">
            <th mat-header-cell *matHeaderCellDef>گروه</th>
            <td mat-cell *matCellDef="let element">{{element.categoryCaption}}</td>
        </ng-container>



        <ng-container matColumnDef="companyPersianName">
            <th mat-header-cell *matHeaderCellDef>نام شرکت</th>
            <td mat-cell *matCellDef="let element">{{element.companyPersianName}}</td>
        </ng-container>


        <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ ایجاد</th>
            <td mat-cell *matCellDef="let element">{{element.creationDate |shamsiDateTime}}</td>
        </ng-container>


        <ng-container matColumnDef="expireDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ انقضا</th>
            <td mat-cell *matCellDef="let element">{{element.expireDate |shamsiDateTime}}</td>
        </ng-container>


        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                هیچ رکوردی جهت نمایش وجود ندارد.
            </td>
        </tr>


        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="navigateToProfile(element)">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[15, 25, 50]" (page)="changePaging($event)" showFirstLastButtons></mat-paginator>
</div>

