::ng-deep .mat-tab-label-active {
    box-shadow: 0px 3px 0px 0px #3f51b5 !important;
}

.item-company-navigation-layout {
    border-bottom: 1px solid #ddd;

    & a {
        text-decoration: none;
        padding-bottom: 12px;
        text-align: center;
        margin-top: 10px;
        color: #555;

        &:active {
            color: #888;
        }
    }
}