@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./assets/fonts/IRANYekan/fonts.css";
@import "./assets/fonts/Vazirmatn/fonts.css";
@import "./assets/styles/general.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  // 14px
  font-size: 87.5% !important;
}

@media (max-width: 750px) {
  html {
    /* 14px => 12px  */
    font-size: 78.125% !important;
  }
}

$font-vazirmatn: "Vazirmatn";
$font-iranyekan: "iranyekan";
$font-tahoma: "Tahoma";



body {
  font-family: unquote($string: $font-iranyekan), unquote($string: $font-vazirmatn), unquote($string: $font-tahoma) !important;
  font-weight: normal;
  overflow-y: scroll;
}

.full-width {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
a,
a p,
mat-card-title,
button[mat-raised-button],
button[mat-button],
mat-form-field,
input.mat-input-element,
mat-error,
mat-card,
mat-select,
mat-option,
button[mat-icon-button],
table[mat-table],
ul li,
textarea {
  font-family: unquote($string: $font-iranyekan), unquote($string: $font-vazirmatn), unquote($string: $font-tahoma) !important;
}


table[mat-table] {
  width: 100%;

  & tr {
    &:hover {
      background-color: #f9f9f9 !important;
    }
  }

  & th {
    font-size: 0.9285rem;
    font-weight: bold;
    background-color: #f2f2f2;
  }

  & td {
    font-size: 0.9285rem;
  }
}


.container {
  margin: 20px;
}

.border {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.spinner {
  left: 49%;
  position: fixed !important;
  top: 15%;
  z-index: 9999;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.login-container {
  height: 80vh;
}

.login-actions {
  margin-left: unset !important;
}

.mat-list-item,
.mat-menu-item {
  font-size: 14px !important;
}

.command-wrapper button {
  margin-left: 10px;
  margin-bottom: 5px;
}

.mat-dialog-title {
  margin: 0 !important;
}

.mat-column-actions {
  flex: 0 0 60px;
}

.mat-table .mat-row:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.mat-table td.mat-cell a:hover {
  text-decoration: underline;
}

.mat-table td.mat-cell:first-child,
.mat-table td.mat-footer-cell:first-child,
.mat-table th.mat-header-cell:first-child {
  padding-left: 20px !important;
}

.mat-table td.mat-cell:last-child,
.mat-table td.mat-footer-cell:last-child,
.mat-table th.mat-header-cell:last-child {
  padding-right: 10px !important;
}

.mat-table .mat-cell a {
  color: inherit;
  text-decoration: none;
}

.no-records {
  padding-top: 20px;
  padding-bottom: 20px;
}

.refresh-button {
  margin-top: 8px !important;
}

.no-records .mat-icon {
  width: 130px;
  height: 130px;
  font-size: 130px;
  color: #c7c7c7;
}

p .mat-icon {
  vertical-align: middle;
}

.mat-slide-toggle.full-width {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-tooltip {
  font-size: 14px;
}

.fixed-fab {
  position: fixed !important;
  right: 2%;
  bottom: 3%;
}

/* Highlight on hover */
.submitted-timesheet-day:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
/* Highlight */
.submitted-timesheet-day>div:not(.mat-calendar-body-selected) {
  border-radius: 999px;
  background-color: rgba(14, 152, 5, 0.25);
}

.table-wrapper {
  overflow: auto;
  height: calc(100vh - 270px);
  max-height: 450px;
  /* padding: 10px 5px; */
}

.animate {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 45px !important;
}

.page-container {
  padding: 15px;
  border-radius: 4px;
}


.text-muted {
  color: #6c757d !important;
}

.modal-xs {
  width: 350px !important;
}


.modal-sm {
  width: 500px !important;
}

.modal-md {
  width: 700px !important;
}

.modal-lg {
  width: 950px !important;
}

.modal-xl {
  width: 1200px !important;
}

.mat-simple-snack-bar-content {
  font-family: $font-iranyekan;
}