@import "variables";

.rj-font-size-10 {
    font-size: $font-size-10;
}

.rj-font-size-11 {
    font-size: $font-size-11 ;
}

.rj-font-size-12 {
    font-size: $font-size-12 ;
}

.rj-font-size-13 {
    font-size: $font-size-13 ;
}

.rj-font-size-14 {
    font-size: $font-size-14;
}

.rj-font-size-16 {
    font-size: $font-size-16 ;
}

.rj-font-size-18 {
    font-size: $font-size-18;
}

.rj-font-size-20 {
    font-size: $font-size-20;
}

.p-1 {
    padding: 0.25rem!important;
}

.p-2 {
    padding: 0.5rem!important;
}

.p-3 {
    padding: 1rem!important;
}

.p-4 {
    padding: 1.5rem!important;
}

.p-5 {
    padding: 3rem!important;
}


.m-1 {
    padding: 0.25rem!important;
}

.m-2 {
    padding: 0.5rem!important;
}

.m-3 {
    padding: 1rem!important;
}

.m-4 {
    padding: 1.5rem!important;
}

.m-5 {
    padding: 3rem!important;
}
