$font-size-10: 0.714rem;
$font-size-11: 0.785rem;
$font-size-12: 0.857rem;
$font-size-13: 0.928rem;
$font-size-14: 1rem;
$font-size-16: 1.142rem;
$font-size-18: 1.285rem;
$font-size-20: 1.428rem;
$font-size-24: 1.714rem;
$font-size-30: 2.142rem;
$font-size-36: 2.571rem;
$font-size-44: 3.142rem;
$font-size-52: 3.714rem;
$font-size-62: 4.428rem;
$font-size-86: 6.142rem;
$font-size-98: 7rem;


$font-vazirmatn: "Vazirmatn";
$font-iranyekan: "iranyekan";
$font-tahoma: "Tahoma";

$font-weight-default: 300;
$font-weight-medium: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$line-height-default: 1rem;
$line-height-samll: 1.05rem;
$line-height-medium: 1.2rem;
$line-height-uper-medium: 1.5rem;
$line-height-large: 1.8rem;
$line-height-paragraph-default: 1.9rem;

$space-1: 0.0714rem;
$space-2: 0.142rem;
$space-4: 0.285rem;
$space-6: 0.428rem;
$space-8: 0.571rem;
$space-12: 0.857rem;
$space-16: 1.142rem;
$space-24: 1.714rem;
$space-32: 2.285rem;
$space-48: 3.428rem;
$space-64: 4.571rem;
$space-80: 5.714rem;
$space-96: 6.857rem;
$space-128: 9.142rem;