<h1 mat-dialog-title style="margin-bottom: 25px !important;">جستجو در شرکت ها</h1>

<form #form="ngForm" (submit)="submitFilterForm(form,$event)">
    <div mat-dialog-content>


        <mat-form-field class="full-width">
            <input matInput placeholder="نام و نام خانوادگی" type="text" #fullName="ngModel"
                [(ngModel)]="model.fullName" name="fullName" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="شماره همراه" type="tel" #cellPhone="ngModel" [(ngModel)]="model.cellPhone"
                name="cellPhone" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="ایمیل" type="text" #email="ngModel" [(ngModel)]="model.email" name="email"
                autocomplete="off">
        </mat-form-field>


    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit">
            جستجو
        </button>
        <button mat-raised-button color="primary" type="button" (click)="clearFilters()">
            خالی کردن فیلتر ها
        </button>
        <button mat-raised-button color="accent" type="button" (click)="onCloseDialog()">
            انصراف
        </button>
    </div>
</form>